# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Graduation_Design_Dataset\D-数据集处理程序\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
